{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a href="#"><h4 class="article-title">{{ post.title }}</h4></a>
                    <small class="text-muted">author: {{ post.author | linebreaksbr }} | on: {{ post.publish|date:"M d, Y" }}</small>                                    
                     <p>{{ post.content | slice:"300" }}.......</p> <a class="btn btn-outline-primary btn-sm" href="{% url 'blog-details' post.pk %}">Continue Reading.....</a>
                </div>   
        </article>
    {% endfor %}
        <ul class="pagination">
  {% if posts.has_previous %}
    <li class="page-item">
      <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
    </li>
  {% endif %}

  {% for p in page_range %}
    {% if posts.number == p %}
      <li class="page-item active">
        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
      </li>
    {% else %}
      <li class="page-item">
        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
      </li>
    {% endif %}
  {% endfor %}

  {% if posts.has_next %}
    <li class="page-item">
      <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
    </li>
  {% endif %}
</ul>

{% endblock content %}


        
