<title>Post Details</title>
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a href="#"><h4 class="article-title">{{ posts.title }}</h4></a>
                <small class="text-muted">author: {{ posts.author | linebreaksbr }} | on: {{ posts.publish|date:"M d," }}</small>                            
                <p>{{ posts.content }}</p> 
            </div> 
        </div>       
    </article>
    <div class="card-body">
        <h4>Leave a comment</h4>
        <form method="POST">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Post Comment</button>
        </form>
    </div>
        <!-- comments -->
    <h4>{{ comments.count }} comments</h4>
    {% for comment in comments %}
        <h6 style="color:green;">{{ comment.name }}</h6>
        <small class="text-muted">{{ comment.created_on }}</small>
        <p>{{ comment.body | linebreaks }}</p>
    {% endfor %}


{% endblock content %}